

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ember.js - Templates: Rendering with Helpers</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://emberjs.com/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js - Blog" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-27675533-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="/javascripts/jquery-2.0.2.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.bxSlider.min.js"></script>

    <script type="text/javascript">
      $(function() {
        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        positionBackToTop = function(reset) {
          if (reset) {
            backToTop.css({
              top: '',
              position: ''
            });
            offset = backToTop.offset();
          }

          if (!showing && doc.scrollTop() > offset.top+200) {
            showing = true;
            backToTop.css({
              position: 'fixed',
              top: 20,
              left: offset.left,
              display:' block'
            });
          } else if (showing && doc.scrollTop() <= offset.top+200) {
            showing = false;
            backToTop.css({
              display:'none'
            });
          }
        };

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            positionBackToTop();
          });
        }

        $('.bx-wrapper, .bx-window').width(940);
      });
    </script>

    
  </head>

  <body class="guides guides_templates guides_templates_rendering-with-helpers guides_templates_rendering-with-helpers_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/about">about</a></li>
          <li class="active"><a href="/guides">guides</a></li>
          <li><a href="/api">api</a></li>
          <li><a href="/community">community</a></li>
          <li><a href="/blog">blog</a></li>

          <li id="search">
            <form>
              <input type="text" id="st-search-input" class="st-search-input" />
            </form>
            <div id="st-results-container"></div>
            <script type="text/javascript">
              var Swiftype = window.Swiftype || {};
              (function() {
                Swiftype.key = 'HTNahKf4xmo8GgFbTz4n';
                Swiftype.inputElement = '#st-search-input';
                Swiftype.resultContainingElement = '#st-results-container';
                Swiftype.attachElement = '#st-search-input';
                Swiftype.renderStyle = "overlay";

                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.async = true;
                script.src = "//swiftype.com/embed.js";
                var entry = document.getElementsByTagName('script')[0];
                entry.parentNode.insertBefore(script, entry);
              }());
            </script>
          </li>

        </ul>

        <div id="github">
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Us!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/guides/getting-started">Getting Started</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/getting-started">Getting Started</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/planning-the-application">Planning The Application</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/creating-a-static-mockup">Creating a Static Mockup</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/obtaining-emberjs-and-dependencies">Obtaining Ember.js and Dependencies</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/adding-a-route-and-template">Adding the First Route and Template</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/modeling-data">Modeling Data</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/using-fixutres">Using Fixtures</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/displaying-model-data">Displaying Model Data</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/displaying-a-models-completeness">Displaying a Model's Complete State</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/creating-a-new-model">Creating a New Model Instance</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/marking-a-model-as-complete-incomplete">Marking a Model as Complete or Incomplete</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/displaying-the-number-of-incomplete-todos">Displaying the Number of Incomplete Todos</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/toggle-todo-editing-state">Toggling between Showing and Editing States</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/accepting-edits">Accepting Edits</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/deleting-todos">Deleting a Model</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/adding-child-routes">Adding Child Routes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/show-only-incomplete-todos">Transitioning to Show Only Incomplete Todos</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/show-only-complete-todos">Transitioning to Show Only Complete Todos</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/show-all-todos-again">Transitioning back to Show All Todos</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/display-a-button-to-remove-completed-todos">Displaying a Button to Remove All Completed Todos</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/show-when-all-todos-are-complete">Indicating When All Todos Are Complete</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/toggle-all-todos">Toggling All Todos Between Complete and Incomplete</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/using-other-adapters">Replacing the Fixture Adapter with Another Adapter</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/concepts/core-concepts">Concepts</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/concepts/core-concepts">Core Concepts</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/concepts/naming-conventions">Naming Conventions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/application">Application</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/application">Introduction</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/guides/templates/the-application-template">Templates</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/guides/templates/the-application-template">The Application Template</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/handlebars-basics">Handlebars Basics</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/conditionals">Conditionals</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/displaying-a-list-of-items">Displaying a List of Items</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/changing-scope">Changing Scope</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-attributes">Binding Element Attributes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-class-names">Binding Element Class Names</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/links">Links</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/actions">Actions</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/guides/templates/rendering-with-helpers">Rendering with Helpers</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/writing-helpers">Writing Helpers</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/routing">Routing</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/routing">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/defining-your-routes">Defining Your Routes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/generated-objects">Generated Objects</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-a-routes-model">Specifying a Route's Model</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/setting-up-a-controller">Setting Up a Controller</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/rendering-a-template">Rendering a Template</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/redirection">Redirecting</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-the-location-api">Specifying the URL Type</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/asynchronous-routing">Asynchronous Routing</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/preventing-and-retrying-transitions">Preventing and Retrying Transitions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/components">Components</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/components">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/defining-a-component">Defining a Component</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/passing-properties-to-a-component">Passing Properties to a Component</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/wrapping-content-in-a-component">Wrapping Content in a Component</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/customizing-a-components-element">Customizing a Component's Element</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/handling-user-interaction-with-actions">Handling User Interaction with Actions</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/sending-actions-from-components-to-your-application">Sending Actions from Components to Your Application</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/controllers">Controllers</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/controllers">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-a-single-model-with-objectcontroller">Representing a Single Model with ObjectController</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-multiple-models-with-arraycontroller">Representing Multiple Models with ArrayController</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/dependencies-between-controllers">Managing Dependencies Between Controllers</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/models">Models</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/models">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-a-store">Defining a Store</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-models">Defining Models</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/finding-models">Finding Models</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/modifying-attributes">Modifying Attributes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/model-lifecycle">Model Lifecycle</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/the-fixture-adapter">The Fixture Adapter</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/the-rest-adapter">The REST Adapter</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/views">Views</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/views">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/defining-a-view">Defining a View</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/handling-events">Handling Events</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/inserting-views-in-templates">Inserting Views in Templates</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/adding-layouts-to-views">Adding Layouts to Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/customizing-a-views-element">Customizing a View's Element</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/built-in-views">Built-in Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/manually-managing-view-hierarchy">Manually Managing View Hierarchy</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/object-model/classes-and-instances">The Object Model</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/object-model/classes-and-instances">Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties">Computed Properties</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties-and-aggregate-data">Computed Properties and Aggregate Data with @each</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/observers">Observers</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/bindings">Bindings</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/reopening-classes-and-instances">Reopening Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/what-do-i-use-when">Bindings, Observers, Computed Properties: What Do I Use When?</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/enumerables">Enumerables</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/enumerables">Introduction</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/testing/integration">Testing</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/testing/integration">Integration Testing</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/configuring-ember/disabling-prototype-extensions">Configuring Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/configuring-ember/disabling-prototype-extensions">Disabling Prototype Extensions</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/configuring-ember/embedding-applications">Embedding Applications</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/understanding-ember/the-view-layer">Understanding Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/understanding-ember/the-view-layer">The View Layer</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/managing-asynchrony">Managing Asynchrony</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/keeping-templates-up-to-date">Keeping Templates Up-to-Date</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/debugging">Debugging</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; Back to Top</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          

  
  <div class="chapter">
    
        <h1>Rendering with Helpers 
          <a href="https://github.com/emberjs/website/tree/master/source/guides/templates/rendering-with-helpers.md" target="_blank" class="edit-page">
            Edit Page</a>
        </h1>
      
    <hr>
    <p>Ember provides several helpers that allow you to render other views and templates in different ways.</p>
<h3 class='anchorable-toc' id='toc_the-code-partial-code-helper'>The <code>{{partial}}</code> Helper</h3>
<p><code>{{partial}}</code> takes the template to be rendered as an argument, and renders that template in place.</p>

<p><code>{{partial}}</code> does not change context or scope.  It simply drops the given template into place with the current scope.  </p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
</pre></td>
  <td class="code"><pre><span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">_author</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  Written by </span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">author.firstName</span><span class="inline-delimiter">}}</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">author.lastName</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>

<span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">post</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  &lt;h1&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">title</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/div&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">partial</span> <span class="error">&quot;</span><span class="attribute-name">author</span><span class="error">&quot;</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>
</pre></td>
</tr></table>
</div></div><div class="highlight html "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div&gt;</span>
  <span class="tag">&lt;h1&gt;</span>Why You Should Use Ember.JS<span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span>Because it's awesome!<span class="tag">&lt;/div&gt;</span>
  Written by Yehuda Katz
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div></div>
<p>The partial&#39;s <code>data-template-name</code> must start with an underscore (e.g. <code>data-template-name=&#39;_author&#39;</code> or <code>data-template-name=&#39;foo/_bar&#39;</code>)</p>
<h3 class='anchorable-toc' id='toc_the-code-view-code-helper'>The <code>{{view}}</code> Helper</h3>
<p>This helper works like the partial helper, except instead of providing a template to be rendered within the current template, you provide a view class.  The view controls what template is rendered.</p>
<div class="highlight javascript "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
</pre></td>
  <td class="code"><pre>App.AuthorView = Ember.View.extend({
  <span class="comment">// We are setting templateName manually here to the default value</span>
  <span class="key">templateName</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">author</span><span class="delimiter">&quot;</span></span>,

  <span class="comment">// A fullName property should probably go on App.Author, </span>
  <span class="comment">// but we're doing it here for the example</span>
  <span class="key">fullName</span>: (<span class="keyword">function</span>() {
    <span class="keyword">return</span> <span class="local-variable">this</span>.get(<span class="string"><span class="delimiter">&quot;</span><span class="content">author</span><span class="delimiter">&quot;</span></span>).get(<span class="string"><span class="delimiter">&quot;</span><span class="content">firstName</span><span class="delimiter">&quot;</span></span>) + <span class="string"><span class="delimiter">&quot;</span><span class="content"> </span><span class="delimiter">&quot;</span></span> + <span class="local-variable">this</span>.get(<span class="string"><span class="delimiter">&quot;</span><span class="content">author</span><span class="delimiter">&quot;</span></span>).get(<span class="string"><span class="delimiter">&quot;</span><span class="content">lastName</span><span class="delimiter">&quot;</span></span>);
  }).property(<span class="string"><span class="delimiter">&quot;</span><span class="content">firstName</span><span class="delimiter">&quot;</span></span>,<span class="string"><span class="delimiter">&quot;</span><span class="content">lastName</span><span class="delimiter">&quot;</span></span>)
})
</pre></td>
</tr></table>
</div></div><div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
</pre></td>
  <td class="code"><pre><span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">author</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  Written by </span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.fullName</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>

<span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">post</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  &lt;h1&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">title</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/div&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view</span> <span class="attribute-name">App.AuthorView</span> <span class="attribute-name">authorBinding</span>=<span class="attribute-value">author</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>
</pre></td>
</tr></table>
</div></div><div class="highlight html "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div&gt;</span>
  <span class="tag">&lt;h1&gt;</span>Why You Should Use Ember.JS<span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span>Because it's awesome!<span class="tag">&lt;/div&gt;</span>
  Written by Yehuda Katz
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div></div>
<p>When using <code>{{partial &quot;author&quot;}}</code>:</p>

<ul>
<li>No instance of App.AuthorView will be created</li>
<li>The given template will be rendered</li>
</ul>

<p>When using <code>{{view App.AuthorView}}</code>:</p>

<ul>
<li>An instance of App.AuthorView will be created</li>
<li>It will be rendered here, using the template associated with that view (the default template being &quot;author&quot;)</li>
</ul>

<p>For more information, see <a href="/guides/views/inserting-views-in-templates">Inserting Views in Templates</a></p>
<h3 class='anchorable-toc' id='toc_the-code-render-code-helper'>The <code>{{render}}</code> Helper</h3>
<p><code>{{render}}</code> takes two parameters:</p>

<ul>
<li>The first parameter describes the context to be setup</li>
<li>The optional second parameter is a model, which will be passed to the controller if provided</li>
</ul>

<p><code>{{render}}</code> does several things:</p>

<ul>
<li>When no model is provided it gets the singleton instance of the corresponding controller</li>
<li>When a model is provided it gets a unique instance of the corresponding controller</li>
<li>Renders the named template using this controller</li>
<li>Sets the model of the corresponding controller </li>
</ul>

<p>Modifying the post / author example slightly:</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
</pre></td>
  <td class="code"><pre><span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">author</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  Written by </span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">firstName</span><span class="inline-delimiter">}}</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">lastName</span><span class="inline-delimiter">}}</span></span>. 
  Total Posts: <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">postCount</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>

<span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">post</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  &lt;h1&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">title</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/div&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">render</span> <span class="error">&quot;</span><span class="attribute-name">author</span><span class="error">&quot;</span> <span class="attribute-name">author</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>
</pre></td>
</tr></table>
</div></div><div class="highlight javascript "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.AuthorController = Ember.ObjectController.extend({
  <span class="function">postCount</span>: <span class="keyword">function</span>() { 
    <span class="keyword">return</span> App.Post.countForAuthor(<span class="local-variable">this</span>.get(<span class="string"><span class="delimiter">&quot;</span><span class="content">model</span><span class="delimiter">&quot;</span></span>));
  }.property(<span class="string"><span class="delimiter">&quot;</span><span class="content">model</span><span class="delimiter">&quot;</span></span>,<span class="string"><span class="delimiter">&quot;</span><span class="content">App.Post.@each.author</span><span class="delimiter">&quot;</span></span>)
})
</pre></td>
</tr></table>
</div></div>
<p>In this example, render will:</p>

<ul>
<li>Get an instance of App.AuthorView if that class exists, otherwise uses a default generated view</li>
<li>Use the corresponding template (in this case the default of &quot;author&quot;)</li>
<li>Get (or generate) the singleton instance of AuthorController</li>
<li>Set the AuthorController&#39;s model to the 2nd argument passed to render, here the author field on the post</li>
<li>Render the template in place, with the context created in the previous steps.</li>
</ul>

<p><code>{{render}}</code> does not require the presence of a matching route.  </p>

<p><code>{{render}}</code> is similar to <code>{{outlet}}</code>. Both tell Ember to devote this portion of the page to something.</p>

<p><code>{{outlet}}</code>: The router determines the route and sets up the appropriate controllers/views/models.
<code>{{render}}</code>: You specify (directly and indirectly) the appropriate controllers/views/models.</p>

<p>Note: <code>{{render}}</code> cannot be called multiple times for the same route when not specifying a model.  For that you&#39;ll need <code>{{control}}</code>.</p>
<h3 class='anchorable-toc' id='toc_the-code-control-code-helper'>The <code>{{control}}</code> Helper</h3>
<p><code>{{control}}</code> works like render, except it uses a new controller instance for every call, instead of reusing the singleton controller.</p>

<p>This helper is currently under heavy development, and will likely change soon.</p>

<p>Note: The <code>{{control}}</code> helper is currently disabled by default. To enable it set <code>ENV.EXPERIMENTAL_CONTROL_HELPER = true</code> before requiring Ember.</p>
<h3 class='anchorable-toc' id='toc_comparison-table'>Comparison Table</h3><h4 class='anchorable-toc' id='toc_general'>General</h4>
<table>
  <thead>
  <tr>
    <th>Helper</th>
    <th>Template</th>
    <th>Model</th>
    <th>View</th>
    <th>Controller</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>{{partial}}</code></td>
    <td>Specified Template</td>
    <td>Current Model</td>
    <td>Current View</td>
    <td>Current Controller</td>
  </tr>
  <tr>
    <td><code>{{view}}</code></td>
    <td>View's Template</td>
    <td>Current Model</td>
    <td>Specified View</td>
    <td>Current Controller</td>
  </tr>
  <tr>
    <td><code>{{render}}</code></td>
    <td>View's Template</td>
    <td>Specified Model</td>
    <td>Specified View</td>
    <td>Specified Controller</td>
  </tr>
  </tbody>
</table>
<h4 class='anchorable-toc' id='toc_specific'>Specific</h4>
<table>
  <thead>
  <tr>
    <th>Helper</th>
    <th>Template</th>
    <th>Model</th>
    <th>View</th>
    <th>Controller</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>{{partial author}}</code></td>
    <td><code>author.hbs</code></td>
    <td>Post</td>
    <td><code>App.PostView</code></td>
    <td><code>App.PostController</code></td>
  </tr>
  <tr>
    <td><code>{{view App.AuthorView}}</code></td>
    <td><code>author.hbs</code></td>
    <td>Post</td>
    <td><code>App.AuthorView</code></td>
    <td><code>App.PostController</code></td>
  </tr>
  <tr>
    <td><code>{{render author author}}</code></td>
    <td><code>author.hbs</code></td>
    <td>Author</td>
    <td><code>App.AuthorView</code></td>
    <td><code>App.AuthorController</code></td>
  </tr>
  </tbody>
</table>

    
      <footer>
        
          <a class="previous-guide" href="/guides/templates/actions">
            ← Actions
          </a>
         
        <a class="next-guide" href="/guides/templates/writing-helpers">
          Writing Helpers →
        </a>
      
      </footer>
      
  </div>

  <script>
    $(function(){
      $("#toc-list .level-1 > a").click(function() {
        $(this).parent().find('> ol').slideToggle(function() {
          positionBackToTop(true);
        });

        return false;
      });

      $(function(){
        $('.anchorable-toc').each(function(){
          var toc = $(this),
          id = toc.attr('id'),
          href = "#" + id,
          anchor = '<a class="toc-anchor" href="'+href+'"></a>';

          toc.prepend(anchor);
        });
      });

    });
  </script>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">
          Copyright 2013 <a href="http://tilde.io">Tilde Inc.</a><br>
          Design by <a href="http://www.heropixel.com">HeroPixel</a></br>
          <a href="/team">Core Team</a> | <a href="/sponsors">Project Sponsors</a>
        </div>
        <div class="statement">Ember.js is free, open source and always will be.</div>
        <div class="links">
          <a class="twitter" href="http://twitter.com/emberjs">Twitter</a>
          <a class="github" href="https://github.com/emberjs/ember.js">GitHub</a>
          <a class="googleplus" href="https://plus.google.com/communities/106387049790387471205">Google+</a>
        </div>
      </div>
    </div>
  </body>
</html>
