/* line 1, /Users/tomdale/Code/ember-website/source/stylesheets/about.css.scss */
body.index, body.about {
  background: url("/images/background-shades.png") no-repeat top center #faf4f1; }
  /* line 4, /Users/tomdale/Code/ember-website/source/stylesheets/about.css.scss */
  body.index .feature p, body.about .feature p {
    margin-top: 1.5em; }
  /* line 9, /Users/tomdale/Code/ember-website/source/stylesheets/about.css.scss */
  body.index .getting-started h2.sub, body.about .getting-started h2.sub {
    color: #F23818;
    padding-top: 70px;
    border-top: 1px dotted #E5DBD6;
    font-size: 19px; }
  /* line 17, /Users/tomdale/Code/ember-website/source/stylesheets/about.css.scss */
  body.index p.prose, body.about p.prose {
    width: 800px; }
