/* line 5, /Users/ebryn/Dev/website/source/stylesheets/guides.css.scss */
body.guides p, body.blog p {
  margin: 1.5em 0; }
/* line 9, /Users/ebryn/Dev/website/source/stylesheets/guides.css.scss */
body.guides sup, body.blog sup {
  vertical-align: super;
  font-weight: 100;
  color: gray;
  font-size: 11px; }
/* line 16, /Users/ebryn/Dev/website/source/stylesheets/guides.css.scss */
body.guides code, body.blog code {
  font-family: Menlo, Courier, monospace;
  font-size: 90%;
  color: #666;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
/* line 25, /Users/ebryn/Dev/website/source/stylesheets/guides.css.scss */
body.guides .highlight, body.blog .highlight {
  margin-bottom: 20px; }
/* line 29, /Users/ebryn/Dev/website/source/stylesheets/guides.css.scss */
body.guides h1, body.blog h1 {
  font-size: 22px;
  color: #e1563f;
  padding: 0px 0px 1em 2em;
  background: no-repeat url("/images/chapter-mark.png") top left; }
  /* line 35, /Users/ebryn/Dev/website/source/stylesheets/guides.css.scss */
  body.guides h1.api-header, body.blog h1.api-header {
    padding-bottom: 0.5em; }
/* line 40, /Users/ebryn/Dev/website/source/stylesheets/guides.css.scss */
body.guides hr, body.blog hr {
  height: 1px;
  border: none;
  margin: 40px 0;
  background-color: #dfd7d4; }
  /* line 46, /Users/ebryn/Dev/website/source/stylesheets/guides.css.scss */
  body.guides hr:first-of-type, body.blog hr:first-of-type {
    margin: 8px 0; }
