/* line 5, highlight.css.scss */
.highlight {
  background-image: url(/images/code_background.gif);
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: Menlo, monospace;
  line-height: 16px;
  margin-bottom: 22px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1); }
  /* line 17, highlight.css.scss */
  .highlight .ribbon {
    position: absolute;
    right: 0;
    bottom: 12px;
    width: 52px;
    height: 20px; }
  /* line 25, highlight.css.scss */
  .highlight.javascript .ribbon {
    background-image: url(/images/js-ribbon.png); }
  /* line 29, highlight.css.scss */
  .highlight.html .ribbon {
    background-image: url(/images/html-ribbon.png); }

/* line 35, highlight.css.scss */
.CodeRay td {
  padding: 14px 0; }
/* line 39, highlight.css.scss */
.CodeRay .line-numbers {
  width: 38px;
  text-align: center;
  border-right: 1px solid #d1d1d1;
  background-color: #f6f6f6;
  color: #b4b4b4;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px; }
/* line 49, highlight.css.scss */
.CodeRay td.code {
  padding-left: 13px; }

/* HTML */
/* line 56, highlight.css.scss */
.CodeRay .tag {
  color: red; }
/* line 60, highlight.css.scss */
.CodeRay .attribute-name {
  color: #1f58ce; }
/* line 64, highlight.css.scss */
.CodeRay .string {
  color: #1f58ce; }

/* line 70, highlight.css.scss */
.CodeRay .keyword {
  color: #ce791f; }
/* line 74, highlight.css.scss */
.CodeRay .key, .CodeRay .function {
  color: #2b1fce; }
/* line 78, highlight.css.scss */
.CodeRay .local-variable {
  color: #1f58ce; }
