/* line 9, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
#content .highlight {
  background-image: url("/images/code_background.gif");
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: Menlo, monospace;
  line-height: 16px;
  overflow: hidden;
  position: relative;
  margin: 2em 0;
  -webkit-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1); }
  /* line 21, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  #content .highlight .scroller {
    overflow: auto; }
  /* line 25, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  #content .highlight table {
    margin: 0 0; }
  /* line 29, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  #content .highlight .ribbon {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 52px;
    height: 20px; }
  /* line 37, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  #content .highlight.javascript .ribbon, #content .highlight.js .ribbon {
    background-image: url("/images/js-ribbon.png"); }
  /* line 40, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  #content .highlight.html .ribbon {
    background-image: url("/images/html-ribbon.png"); }
  /* line 43, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  #content .highlight.handlebars .ribbon {
    background-image: url("/images/handlebars-ribbon.png"); }

/* line 48, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
.CodeRay {
  width: 100%;
  /* HTML */ }
  /* line 50, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay td.line-numbers {
    width: 38px;
    text-align: center;
    border-right: 1px solid #d1d1d1;
    background-color: #f6f6f6;
    color: #b4b4b4;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  /* line 60, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay td.code {
    padding: 8px 0 8px 13px; }
  /* line 66, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay .tag {
    color: #1f58ce; }
  /* line 70, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay .comment {
    color: #777777; }
  /* line 74, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay .attribute-name {
    color: #1f58ce; }
  /* line 78, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay .content {
    color: #153c8c; }
  /* line 82, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay .string {
    color: #1f58ce; }
  /* line 86, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay .keyword {
    color: #ce791f; }
  /* line 90, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay .key, .CodeRay .function {
    color: #2b1fce; }
  /* line 94, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
  .CodeRay .local-variable {
    color: #1f58ce; }

/* line 104, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
.handlebars .CodeRay .inline,
.handlebars .CodeRay .inline .inline-delimiter,
.handlebars .CodeRay .inline .delimiter {
  color: #00aa00; }
/* line 108, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
.handlebars .CodeRay .inline .attribute-name {
  color: #007700; }
/* line 112, /Users/ebryn/Dev/misc-ember/website/source/stylesheets/highlight.css.scss */
.handlebars .CodeRay .inline .attribute-value,
.handlebars .CodeRay .inline .content {
  color: #004400; }
