/* line 3, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
pre, code {
  padding: 0 3px 2px;
  font-size: 12px;
  color: #333333;
  border-radius: 3px; }

/* line 10, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.name-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #999;
  text-align: center;
  min-width: 50px;
  display: inline-block; }

/* line 19, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.example-output label {
  vertical-align: bottom; }

/* line 23, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.example-output .text {
  padding-top: 20px; }

/* line 27, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.example-output input {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #999;
  text-align: center;
  min-width: 150px;
  display: inline-block;
  font-size: 14px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1px;
  outline: none; }

/* line 49, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.example-viewer .highlight {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }

/* line 58, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.CodeRay td.line-numbers {
  border-top-left-radius: 0; }

/* line 62, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.example-app p {
  margin-bottom: 20px; }

/* line 67, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.tabs .tabs-footer {
  display: block;
  padding: 2px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-top-color: #ccc; }
/* line 71, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
.tabs a {
  line-height: 18px;
  display: inline-block;
  position: relative;
  padding: 6px 12px 5px 12px;
  color: #666;
  font-size: 12px;
  text-decoration: none;
  border-top: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 8px -1px 0;
  background-color: #eee; }
  /* line 78, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:first-child {
    margin-left: 21px; }
  /* line 79, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:focus {
    outline: none; }
  /* line 81, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:hover, .tabs a.active {
    background-color: #f7f7f7;
    border-bottom: none; }
  /* line 82, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a.active {
    border-bottom: 1px solid #f7f7f7;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  /* line 84, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:hover:before, .tabs a.active:before, .tabs a:hover:after, .tabs a.active:after {
    border-bottom-color: #bbb;
    background-color: #f7f7f7; }
  /* line 85, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a.active:before, .tabs a.active:after {
    padding-bottom: 1px; }
  /* line 87, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:before, .tabs a:after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    z-index: 0;
    height: 100%;
    width: 15px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-bottom: none; }
  /* line 96, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:before {
    right: -7px;
    border-left: none;
    -webkit-transform: skew(27deg, 0deg);
    -moz-transform: skew(27deg, 0deg);
    -ms-transform: skew(27deg, 0deg);
    -o-transform: skew(27deg, 0deg);
    transform: skew(27deg, 0deg);
    border-radius: 0 5px 0 0;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 white; }
  /* line 103, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:after {
    left: -7px;
    border-right: none;
    -webkit-transform: skew(-27deg, 0deg);
    -moz-transform: skew(-27deg, 0deg);
    -ms-transform: skew(-27deg, 0deg);
    -o-transform: skew(-27deg, 0deg);
    transform: skew(-27deg, 0deg);
    border-radius: 5px 0 0 0;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), inset 1px 0 white; }
  /* line 112, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(1) {
    z-index: 22; }
  /* line 113, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(2) {
    z-index: 21; }
  /* line 114, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(3) {
    z-index: 20;
    margin-left: 21px; }
  /* line 115, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(4) {
    z-index: 19; }
  /* line 116, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(5) {
    z-index: 18; }
  /* line 117, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(6) {
    z-index: 17; }
  /* line 118, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(7) {
    z-index: 16; }
  /* line 119, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(8) {
    z-index: 15; }
  /* line 120, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(9) {
    z-index: 14; }
  /* line 121, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(10) {
    z-index: 13; }
  /* line 122, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(11) {
    z-index: 11; }
  /* line 123, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(12) {
    z-index: 10; }
  /* line 124, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(13) {
    z-index: 9; }
  /* line 125, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(14) {
    z-index: 8; }
  /* line 126, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(15) {
    z-index: 7; }
  /* line 127, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(16) {
    z-index: 6; }
  /* line 128, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(17) {
    z-index: 5; }
  /* line 129, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(18) {
    z-index: 4; }
  /* line 130, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(19) {
    z-index: 3; }
  /* line 131, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(20) {
    z-index: 2; }
  /* line 132, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a:nth-child(21) {
    z-index: 1; }
  /* line 133, /Users/ebryn/Dev/website/source/stylesheets/shared.css.scss */
  .tabs a.active {
    z-index: 100; }
