/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'MavenProBold';
  src: url("/fonts/maven_pro_bold-webfont.eot");
  src: url("/fonts/maven_pro_bold-webfont.eot?#iefix") format("eot"), url("/fonts/maven_pro_bold-webfont.woff") format("woff"), url("/fonts/maven_pro_bold-webfont.ttf") format("truetype"), url("/fonts/maven_pro_bold-webfont.svg#webfontNOU7iUTL") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MavenProMedium';
  src: url("/fonts/maven_pro_medium-webfont.eot");
  src: url("/fonts/maven_pro_medium-webfont.eot?#iefix") format("eot"), url("/fonts/maven_pro_medium-webfont.woff") format("woff"), url("/fonts/maven_pro_medium-webfont.ttf") format("truetype"), url("/fonts/maven_pro_medium-webfont.svg#webfontNj5iy4Dl") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/Lato-Regular.woff") format("woff"); }

/* Calculated page dimensions. */
/* line 19, site.css.scss */
body {
  background: url(/images/background.png);
  margin: 65px 0 0 0;
  padding: 0;
  font-family: Lato, Arial, sans-serif;
  line-height: 23px;
  font-size: 13px;
  line-height: 20px;
  min-width: 940px; }

/* line 31, site.css.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 35, site.css.scss */
a {
  color: #e1563f;
  text-decoration: none; }

/* line 40, site.css.scss */
p {
  margin: 24px 0; }

/* line 44, site.css.scss */
em {
  font-style: italic; }

/* line 48, site.css.scss */
code {
  font-family: Menlo, Courier, monospace;
  font-size: 90%;
  color: #666;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

/* line 57, site.css.scss */
h1 {
  font-size: 32px;
  margin-bottom: 32px;
  line-height: 40px; }

/* line 63, site.css.scss */
strong {
  font-weight: bold; }

/* line 67, site.css.scss */
hr {
  height: 1px;
  border: none;
  margin: 40px 0;
  background-color: #252525; }

/**
  Header
**/
/* line 77, site.css.scss */
#header {
  position: absolute;
  width: 100%;
  min-width: 940px;
  top: 0;
  height: 60px;
  background: url(/images/navigation_background.png);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px; }
  /* line 86, site.css.scss */
  #header #wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative; }
  /* line 92, site.css.scss */
  #header #logo {
    position: absolute;
    left: 7px;
    top: 6px;
    width: 103px;
    height: 40px;
    background: url(/images/ember_logo.png); }
  /* line 101, site.css.scss */
  #header #nav {
    width: 500px;
    height: 65px;
    margin: 0 auto;
    text-align: center; }
    /* line 108, site.css.scss */
    #header #nav li {
      line-height: 26px;
      margin: 18px 0;
      display: inline-block; }
      /* line 112, site.css.scss */
      #header #nav li a {
        font-family: "MavenProBold";
        font-size: 13px;
        text-transform: uppercase;
        color: #faf2ee;
        text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
        display: block;
        padding: 0px 1em;
        height: 26px;
        line-height: 26px;
        text-decoration: none;
        border: 1px solid transparent; }
    /* line 130, site.css.scss */
    #header #nav li.active a {
      color: #6f1b0b;
      text-shadow: rgba(255, 255, 255, 0.16) 0 1px 0px;
      background-color: #bf4737;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0px, inset rgba(0, 0, 0, 0.17) 0 1px 1px;
      -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0px, inset rgba(0, 0, 0, 0.17) 0 1px 1px;
      box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0px, inset rgba(0, 0, 0, 0.17) 0 1px 1px; }
    /* line 141, site.css.scss */
    #header #nav li a:hover {
      color: #fff; }
  /* line 146, site.css.scss */
  #header #github {
    position: absolute;
    right: 7px;
    top: 21px; }
    /* line 151, site.css.scss */
    #header #github a {
      font-family: "MavenProBold";
      font-size: 13px;
      text-transform: uppercase;
      color: #faf2ee;
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px; }
      /* line 152, site.css.scss */
      #header #github a img {
        float: left;
        margin-top: 5px;
        margin-right: 7px;
        display: block; }
      /* line 165, site.css.scss */
      #header #github a:hover {
        color: #fff; }

/* line 172, site.css.scss */
#content-wrapper {
  width: 940px;
  margin: 0 auto 40px auto;
  padding: 20px 0px;
  position: relative; }
  /* line 178, site.css.scss */
  #content-wrapper.grid {
    background-image: url(/images/grid.png); }

/* line 186, site.css.scss */
#content {
  width: 940px; }
  /* line 189, site.css.scss */
  #content.has-sidebar {
    margin-left: 260px;
    width: 680px; }
  /* line 194, site.css.scss */
  #content > h1:first-child {
    margin-top: 43px; }

/* line 199, site.css.scss */
#sidebar {
  width: 220px;
  margin-top: 43px;
  position: absolute;
  font-family: "MavenProMedium";
  font-size: 14px; }
  /* line 206, site.css.scss */
  #sidebar #back-to-top {
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.05s linear;
    -moz-transition: opacity 0.05s linear;
    -o-transition: opacity 0.05s linear;
    transition: opacity 0.05s linear; }
  /* line 212, site.css.scss */
  #sidebar a {
    text-decoration: none;
    line-height: 21px;
    border-bottom: none;
    color: #e1563f; }
    /* line 218, site.css.scss */
    #sidebar a:hover {
      color: #252525; }
    /* line 222, site.css.scss */
    #sidebar a.active {
      color: #252525; }
  /* line 227, site.css.scss */
  #sidebar ol {
    list-style-type: none; }
    /* line 230, site.css.scss */
    #sidebar ol li {
      margin: 14px 0; }
      /* line 233, site.css.scss */
      #sidebar ol li:first-of-type {
        margin-top: 0; }
      /* line 238, site.css.scss */
      #sidebar ol li.level-1 a, #sidebar ol li.level-2 a {
        font-family: "MavenProBold";
        color: #252525; }
      /* line 244, site.css.scss */
      #sidebar ol li.level-3, #sidebar ol li.level-4 {
        font-family: "Lato";
        font-size: 13px;
        text-transform: none;
        margin: 2px 0; }
      /* line 252, site.css.scss */
      #sidebar ol li:hover a {
        color: #491500; }
      /* line 257, site.css.scss */
      #sidebar ol li a {
        display: block; }
  /* line 263, site.css.scss */
  #sidebar h2 {
    font-family: "MavenProBold";
    color: #252525;
    margin-bottom: 10px; }
  /* line 269, site.css.scss */
  #sidebar ul li {
    font-family: "Lato";
    font-size: 13px;
    text-transform: none;
    margin: 2px 0; }

/**
  About Page
**/
/* line 280, site.css.scss */
.about-header-text {
  display: block;
  margin: 60px auto 0 auto; }

/* line 285, site.css.scss */
#download {
  width: 465px;
  height: 125px;
  margin: 0 auto;
  position: relative; }
  /* line 291, site.css.scss */
  #download #download-ember, #download #download-starter-kit {
    position: absolute;
    width: 220px;
    top: 40px;
    text-align: center; }
  /* line 298, site.css.scss */
  #download #download-ember {
    left: 0; }
  /* line 302, site.css.scss */
  #download #download-starter-kit {
    left: 240px; }
  /* line 306, site.css.scss */
  #download .info {
    margin-top: 4px;
    color: #888; }

/* line 312, site.css.scss */
.section {
  margin: 60px 0;
  overflow: hidden; }
  /* line 316, site.css.scss */
  .section h2 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #252525;
    text-transform: uppercase;
    font-family: "MavenProBold";
    margin-bottom: 28px; }

/* line 328, site.css.scss */
.getting-started.section .highlight, .getting-started.section p {
  float: left;
  width: 440px; }
  /* line 332, site.css.scss */
  .getting-started.section .highlight.right, .getting-started.section p.right {
    margin-left: 60px; }
/* line 337, site.css.scss */
.getting-started.section p {
  text-align: center;
  color: #222; }

/* line 343, site.css.scss */
.features.section {
  overflow: hidden;
  *zoom: 1; }
  /* line 346, site.css.scss */
  .features.section .feature {
    width: 220px;
    float: left;
    margin-left: 60px;
    margin-right: 20px; }
    /* line 352, site.css.scss */
    .features.section .feature img {
      margin-left: auto;
      margin-right: auto;
      display: block; }
    /* line 358, site.css.scss */
    .features.section .feature p {
      text-align: center; }

/* line 366, site.css.scss */
.users.section .surround {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 white;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 white;
  overflow: hidden;
  *zoom: 1;
  background: url("/images/about/carousel_bg.png");
  border: 1px solid #d1d1d1;
  padding-top: 19px; }
  /* line 375, site.css.scss */
  .users.section .surround .bx-wrapper,
  .users.section .surround .bx-window {
    width: 940px; }
  /* line 382, site.css.scss */
  .users.section .surround .bx-wrapper .bx-prev,
  .users.section .surround .bx-wrapper .bx-next {
    background: url("/images/about/carousel_controls.png") no-repeat;
    float: left;
    height: 28px;
    width: 30px; }
  /* line 391, site.css.scss */
  .users.section .surround .bx-wrapper .bx-prev,
  .users.section .surround .bx-wrapper .bx-next,
  .users.section .surround .bx-wrapper .pager-link {
    text-indent: -9999px; }
  /* line 395, site.css.scss */
  .users.section .surround .bx-wrapper .bx-prev {
    background-position: left;
    border-right: 1px solid #d1d1d1;
    float: right;
    position: absolute;
    bottom: 0;
    left: 0; }
  /* line 404, site.css.scss */
  .users.section .surround .bx-wrapper .bx-next {
    background-position: right;
    border-left: 1px solid #d1d1d1;
    float: right;
    position: absolute;
    bottom: 0;
    right: 1px; }
  /* line 413, site.css.scss */
  .users.section .surround .bx-wrapper .bx-window {
    border-bottom: 1px solid #d1d1d1;
    height: 124px; }
  /* line 418, site.css.scss */
  .users.section .surround .bx-wrapper .bx-pager {
    overflow: hidden;
    *zoom: 1;
    background: url("/images/about/carousel_pager_bg.png") bottom repeat-x #f4f4f4;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    border-top: 1px solid #fefefe;
    font-size: 0;
    height: 28px;
    line-height: 0;
    margin: 0 29px;
    padding-top: 9px;
    text-align: center; }
    /* line 431, site.css.scss */
    .users.section .surround .bx-wrapper .bx-pager .pager-link {
      background: url("/images/about/carousel_dots.png") 0 0 no-repeat;
      height: 11px;
      width: 10px;
      margin-left: 10px;
      display: inline-block; }
      /* line 439, site.css.scss */
      .users.section .surround .bx-wrapper .bx-pager .pager-link.pager-active, .users.section .surround .bx-wrapper .bx-pager .pager-link.pager-active:hover {
        background-position: -22px 0; }
      /* line 443, site.css.scss */
      .users.section .surround .bx-wrapper .bx-pager .pager-link:hover {
        background-position: -11px 0; }
      /* line 447, site.css.scss */
      .users.section .surround .bx-wrapper .bx-pager .pager-link:first-of-type {
        margin-left: 0; }
/* line 455, site.css.scss */
.users.section .user {
  position: relative;
  float: left;
  width: 230px; }
  /* line 460, site.css.scss */
  .users.section .user.empty {
    display: block;
    height: 210px;
    visibility: hidden; }
  /* line 466, site.css.scss */
  .users.section .user a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: url("/images/about/user_bg.png") no-repeat;
    display: block;
    height: 103px;
    margin-left: 20px;
    width: 210px; }
/* line 477, site.css.scss */
.users.section p {
  text-align: center; }
/* line 481, site.css.scss */
.users.section #listed {
  float: left;
  margin-left: 360px;
  text-align: center; }

/* line 489, site.css.scss */
.gears.section .gear {
  text-align: center;
  height: 120px; }
  /* line 493, site.css.scss */
  .gears.section .gear .gearplus {
    padding: 0px 30px 0px 30px;
    display: inline;
    line-height: 120px; }
    /* line 497, site.css.scss */
    .gears.section .gear .gearplus img {
      vertical-align: top;
      padding-top: 50px; }

/* line 507, site.css.scss */
.samples.section .sample {
  float: left;
  position: relative;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  width: 220px; }
  /* line 517, site.css.scss */
  .samples.section .sample:first-of-type {
    margin-left: 0; }
  /* line 521, site.css.scss */
  .samples.section .sample .info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
    /* line 533, site.css.scss */
    .samples.section .sample .info .name {
      text-align: center;
      color: white;
      font-family: MavenProMedium;
      font-size: 18px;
      margin-top: 55px;
      text-transform: uppercase; }
    /* line 542, site.css.scss */
    .samples.section .sample .info .actions {
      text-align: center;
      margin-top: 16px; }
      /* line 546, site.css.scss */
      .samples.section .sample .info .actions > div {
        display: inline-block;
        margin: 0 3px; }
  /* line 553, site.css.scss */
  .samples.section .sample img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  /* line 557, site.css.scss */
  .samples.section .sample:hover .info {
    opacity: 1; }

/**
  Documentation Page
**/
/* line 567, site.css.scss */
.chapter {
  margin: 43px 0 90px 0; }
  /* line 573, site.css.scss */
  .chapter h2 {
    width: 100%;
    font-size: 18px;
    color: #252525;
    text-transform: uppercase;
    font-family: "MavenProBold"; }
  /* line 581, site.css.scss */
  .chapter h3 {
    font-family: "MavenProBold";
    font-size: 18px;
    color: #e1563f;
    margin: 30px 0; }
  /* line 588, site.css.scss */
  .chapter h4 {
    font-family: "MavenProBold";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 24px 0 12px 0;
    line-height: 18px; }
  /* line 597, site.css.scss */
  .chapter p {
    color: #222;
    font-size: 15px;
    line-height: 22px; }
  /* line 603, site.css.scss */
  .chapter ul, .chapter ol {
    margin-left: 32px;
    list-style-type: disc;
    margin-bottom: 28px; }
    /* line 608, site.css.scss */
    .chapter ul li, .chapter ol li {
      font-size: 15px;
      margin: 10px 0 10px 0; }
      /* line 612, site.css.scss */
      .chapter ul li p, .chapter ol li p {
        padding-left: 7px; }

/**
  Guides and Blogs
**/
/* line 623, site.css.scss */
ul#guide_list {
  margin-left: 30px;
  list-style-type: disc;
  margin-bottom: 28px; }
  /* line 628, site.css.scss */
  ul#guide_list li {
    font-size: 15px;
    margin: 10px 0 10px 0; }
    /* line 632, site.css.scss */
    ul#guide_list li p {
      padding-left: 7px; }

/* line 638, site.css.scss */
article {
  margin: 43px 0 90px 0; }
  /* line 644, site.css.scss */
  article figure {
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc; }
  /* line 651, site.css.scss */
  article img {
    display: block;
    margin: 0 auto;
    background-color: white;
    max-width: 100%;
    /*max-width: $content-width;*/ }
  /* line 659, site.css.scss */
  article table.figure {
    float: left;
    margin-bottom: 20px; }
    /* line 663, site.css.scss */
    article table.figure + table.figure {
      margin-left: 20px; }
    /* line 667, site.css.scss */
    article table.figure + table.figure + * {
      clear: left; }
    /* line 671, site.css.scss */
    article table.figure th, article table.figure td {
      padding: 5px 10px; }
    /* line 675, site.css.scss */
    article table.figure thead th {
      font-weight: bold;
      border-bottom: 2px solid #e1563f; }
    /* line 680, site.css.scss */
    article table.figure tbody td {
      border-bottom: 1px solid #efa497; }
  /* line 685, site.css.scss */
  article h2 {
    margin: 50px 0 0 0;
    width: 100%;
    font-size: 24px;
    color: #252525;
    text-transform: uppercase;
    font-family: "MavenProBold"; }
  /* line 694, site.css.scss */
  article :not(h2) + h3 {
    margin-top: 50px; }
  /* line 698, site.css.scss */
  article h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0;
    text-transform: uppercase;
    padding-left: 0; }
  /* line 706, site.css.scss */
  article h4 {
    font-size: 16px;
    padding-left: 0;
    margin: 24px 0;
    line-height: 23px; }
  /* line 713, site.css.scss */
  article p {
    color: #222;
    padding-left: 0;
    font-size: 15px;
    line-height: 23px; }
  /* line 720, site.css.scss */
  article .highlight {
    margin-left: 0; }
  /* line 724, site.css.scss */
  article ul, article ol {
    margin-left: 0;
    margin-bottom: 28px; }
    /* line 728, site.css.scss */
    article ul li, article ol li {
      font-size: 15px;
      margin: 10px 0 10px 20px; }
  /* line 734, site.css.scss */
  article ul {
    list-style-type: disc; }
  /* line 738, site.css.scss */
  article ol {
    list-style-type: decimal; }

/**
  Community Page
**/
/* line 748, site.css.scss */
.community.section {
  margin-left: 180px;
  margin-right: 180px; }

/* line 753, site.css.scss */
#footer {
  width: 940px;
  height: 62px;
  margin: 60px auto 60px auto;
  background-image: url(/images/footer.png); }
  /* line 759, site.css.scss */
  #footer .info {
    font-family: "MavenProBold";
    text-align: center;
    width: 184px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 10px; }
    /* line 767, site.css.scss */
    #footer .info .copyright {
      margin-top: 4px;
      margin-bottom: 4px; }
    /* line 772, site.css.scss */
    #footer .info a {
      color: #e1563f;
      text-decoration: none; }

/* line 779, site.css.scss */
.screenshot {
  margin-left: -60px; }

/**
  Buttons
*/
/* line 787, site.css.scss */
.button {
  display: block;
  width: 226px;
  height: 46px;
  font-family: "MavenProBold";
  text-transform: uppercase;
  text-decoration: none;
  line-height: 47px;
  font-size: 14px;
  color: #f6ece8;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 0; }
  /* line 799, site.css.scss */
  .button.orange {
    background-image: url(/images/orange_buttons.png); }
    /* line 802, site.css.scss */
    .button.orange:hover {
      background-position: 0 -46px; }
    /* line 806, site.css.scss */
    .button.orange:active {
      background-position: 0 -92px;
      text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0; }
  /* line 812, site.css.scss */
  .button.black {
    background-image: url(/images/black_buttons.png); }
    /* line 815, site.css.scss */
    .button.black:hover {
      background-position: 0 -46px; }
    /* line 819, site.css.scss */
    .button.black:active {
      background-position: 0 -92px;
      text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0; }
  /* line 825, site.css.scss */
  .button:hover {
    background-position: 0 -46px; }

/* line 833, site.css.scss */
.small-button {
  width: 74px;
  height: 22px;
  font-family: "MavenProMedium";
  color: #fff;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 0; }
  /* line 843, site.css.scss */
  .small-button.orange {
    background-image: url(/images/small-orange-button.png); }
  /* line 847, site.css.scss */
  .small-button.black {
    background-image: url(/images/small-black-button.png); }
