<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ember.js - </title>
    <meta charset="utf-8">
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27675533-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript">
      $(function() {
        $('#logo').on('click', function(evt) {
          if (evt.shiftKey) {
            $('#content-wrapper').toggleClass('grid');
            return false;
          }
        });

        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            if (!showing && doc.scrollTop() > offset.top+200) {
              showing = true;
              backToTop.css({
                opacity: 1,
                position: 'fixed',
                top: 20,
                left: offset.left
              });
            } else if (showing && doc.scrollTop() <= offset.top+200) {
              showing = false;
              backToTop.css({
                opacity: 0
              });
            }
          });
        }
      });
    </script>
  </head>

  <body>
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/about">about</a></li>
          <li><a href="/documentation">docs</a></li>
		  <li><a href="/guides">guides</a></li>
          <li><a href="/community">community</a></li>
          <li><a href="http://docs.emberjs.com">api</a></li>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Us!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      <div id="content" >
        /* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* CSS Reset */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 7, ../examples/todos/css/todos.scss */
body {
  line-height: 1;
  font-family: "Lucida Grande", sans-serif;
  font-size: 13px; }

/* line 12, ../examples/todos/css/todos.scss */
ol, ul {
  list-style: none; }

/* line 15, ../examples/todos/css/todos.scss */
blockquote, q {
  quotes: none; }

/* line 19, ../examples/todos/css/todos.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 23, ../examples/todos/css/todos.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* App CSS */
/* line 29, ../examples/todos/css/todos.scss */
body, html {
  color: #777;
  background-color: #F2F4F5; }

/* line 34, ../examples/todos/css/todos.scss */
.sc-view {
  position: relative;
  overflow: visible; }

/* line 42, ../examples/todos/css/todos.scss */
body {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 1px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  width: 600px;
  left: 50%;
  margin-top: 38px;
  border: 1px solid #bbbbbb;
  margin-left: -300px;
  background-color: #fff;
  padding: 40px 10px 10px; }
  /* line 58, ../examples/todos/css/todos.scss */
  body .mark-all-done label {
    margin-left: 5px;
    font-weight: bold; }
  /* line 63, ../examples/todos/css/todos.scss */
  body #stats {
    overflow: hidden;
    width: 100%;
    padding: 5px 10px;
    margin: 10px -10px;
    background-color: #eee;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    line-height: 25px; }
    /* line 73, ../examples/todos/css/todos.scss */
    body #stats .remaining {
      float: left; }
    /* line 77, ../examples/todos/css/todos.scss */
    body #stats .sc-button {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #f9f9f9), color-stop(34%, #dddddd), color-stop(67%, #f2f2f2), color-stop(100%, #f7f7f7));
      background-image: -webkit-linear-gradient(#f9f9f9 1%, #dddddd, #f2f2f2, #f7f7f7);
      background-image: -moz-linear-gradient(#f9f9f9 1%, #dddddd, #f2f2f2, #f7f7f7);
      background-image: -o-linear-gradient(#f9f9f9 1%, #dddddd, #f2f2f2, #f7f7f7);
      background-image: linear-gradient(#f9f9f9 1%, #dddddd, #f2f2f2, #f7f7f7);
      border: 1px solid #828282;
      color: #000;
      float: right;
      padding: 5px; }
      /* line 84, ../examples/todos/css/todos.scss */
      body #stats .sc-button:hover {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #ffffff), color-stop(34%, #e2e2e2), color-stop(67%, #f7f7f7), color-stop(100%, #fcfcfc));
        background-image: -webkit-linear-gradient(#ffffff 1%, #e2e2e2, #f7f7f7, #fcfcfc);
        background-image: -moz-linear-gradient(#ffffff 1%, #e2e2e2, #f7f7f7, #fcfcfc);
        background-image: -o-linear-gradient(#ffffff 1%, #e2e2e2, #f7f7f7, #fcfcfc);
        background-image: linear-gradient(#ffffff 1%, #e2e2e2, #f7f7f7, #fcfcfc); }
      /* line 88, ../examples/todos/css/todos.scss */
      body #stats .sc-button.is-active {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #efefef), color-stop(34%, #d3d3d3), color-stop(67%, #e8e8e8), color-stop(100%, #ededed));
        background-image: -webkit-linear-gradient(#efefef 1%, #d3d3d3, #e8e8e8, #ededed);
        background-image: -moz-linear-gradient(#efefef 1%, #d3d3d3, #e8e8e8, #ededed);
        background-image: -o-linear-gradient(#efefef 1%, #d3d3d3, #e8e8e8, #ededed);
        background-image: linear-gradient(#efefef 1%, #d3d3d3, #e8e8e8, #ededed); }
  /* line 94, ../examples/todos/css/todos.scss */
  body input[type='text'] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.6);
    color: #999;
    background-color: #f0f0f0;
    width: 588px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    padding: 5px;
    border: 1px solid #bbbbbb;
    font-weight: 500; }
    /* line 106, ../examples/todos/css/todos.scss */
    body input[type='text']::-webkit-input-placeholder {
      color: #aaa; }
  /* line 111, ../examples/todos/css/todos.scss */
  body h1 {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(49%, #f4f4f4), color-stop(51%, #ededed), color-stop(100%, #dedede));
    background-image: -webkit-linear-gradient(#ffffff, #f4f4f4 49%, #ededed 51%, #dedede);
    background-image: -moz-linear-gradient(#ffffff, #f4f4f4 49%, #ededed 51%, #dedede);
    background-image: -o-linear-gradient(#ffffff, #f4f4f4 49%, #ededed 51%, #dedede);
    background-image: linear-gradient(#ffffff, #f4f4f4 49%, #ededed 51%, #dedede);
    text-shadow: 0 1px 1px white;
    font-size: 15px;
    position: absolute;
    width: 600px;
    height: 20px;
    color: #53565e;
    top: 0;
    left: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #bbbbbb; }
  /* line 128, ../examples/todos/css/todos.scss */
  body .sc-checkbox input[type="checkbox"] {
    margin-right: 7px; }
  /* line 133, ../examples/todos/css/todos.scss */
  body ul {
    margin: 10px 0 2px 0; }
    /* line 136, ../examples/todos/css/todos.scss */
    body ul li {
      padding: 5px; }
      /* line 139, ../examples/todos/css/todos.scss */
      body ul li.is-done {
        color: #B7B7B7;
        text-decoration: line-through; }
    /* line 145, ../examples/todos/css/todos.scss */
    body ul li:nth-child(odd) {
      background-color: #F7F7F7; }

      </div>
    </div>

    <div id="footer">
      <div class="info">
        <div class="links"><a href="http://twitter.com/emberjs">Twitter</a> &bull; <a href="https://github.com/emberjs/ember.js">GitHub</a></div>
        <div class="copyright">Copyright 2012 <a href="http://tilde.io">Tilde Inc.</a></div>
        <div class="credit">Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
      </div>
    </div>
  </body>
</html>

